:root {
  --font-family: 'Rubik', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-text: #fff;
  --color-grey: #646464;
  --color-primary: #1e2733;
  --color-secondary: #ff8157;
}
